<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <style>
        .title {
          color: blue;
        }
      </style>
</head>
<body>
    <h2 class="title">soy un titulo</h2>
    <template>
        <h2>Hola Mundo again</h2>
        <div>
            <p>Soy un texto de ejemplo</p>
        </div>
    </template>
     <my-element></my-element>
    <script type="module" src="./myElement.js"></script>
</body>
</html>